<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contatos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilocontatos.css') }}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('inicio') }}" >Início</a></li>
            <li><a href="{{ url_for('criarconta') }}">Criar conta</a></li>
            <li><a href="{{ url_for('acesso') }}">Entrar</a></li>

        </ul>
    </nav>
    <h1 style="texto-align: center; ">Meu contato:</h1>
    <h2> Email: eliasaramburu1@gmail.com</h2>
    <h2> Telefone: (51) 986580470</h2>
    <h2> Joel Elias Aramburu da Silva</h2>
</body>
</html>