<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acesso.css') }}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('contatos') }}">Contatos</a></li>
            <li><a href="{{ url_for('criarconta') }}">Criar conta</a></li>
            <li><a href="{{ url_for('acesso') }}">Entrar</a></li>
        </ul>
    </nav>
    <h1 style="text-align: center; ">Frigelar indústria & Comercio</h1>
    <img src="{{ url_for('static', filename='imagens/frigelar.jpg') }}" alt="Logotipo da Frigelar" style="display: block; margin-left: 0 auto;">
    <h2 style="text-align: center;">Líder em Refrigeração no Brasil - Soluções frigoríficas - Peças para Lavadoras - Electrolux - Brastemp - Consul</h2>

    <img src="{{ url_for('static', filename='imagens/IMG-20230623-WA0078.jpg') }}" alt="Descrição da Nova Imagem" style="display: block; margin: 50px auto;">

</body>
</html>